[ca]
default_ca = CA_own
[CA_own]
dir = .
cert = ./ca.crt
new_certs_dir = ./ca.db.certs
database = ./ca.db.index
serial = ./ca.db.serial
private_key = ./ca.key
default_days = 365
default_crl_days = 30
default_md = sha256
preserve = no
policy = policy_anything
[policy_anything]
countryName = CN
stateOrProvinceName = sh
organizationName = fy
commonName = fy
emailAddress = fy
distinguished_name = fy
[req]
efault_bits = 2048
default_md = sha1 
distinguished_name = policy_anything 
